@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap');
* {
  margin: 0;
}

:root{
  --Grand-Hotel:'Grand Hotel', cursive;
  --Abel: 'Abel', cursive, 'Times New Roman';
  --Anton: 'Anton', cursive;
  --Josefin : 'Josefin', cursive;
  --Lexend: 'Lexend', cursive;
  --Livvic : 'Livvic', cursive;
  /*theme colors */
  --text-gray:#3f4954;
  --text-light:#686666da;
  --bg-color:#0f0f0f;
  --midnight:#104f55;
  --white:#ffffff;

  /*gradient clor*/
--sky: linear-gradient(120deg,#a1c4fd 0%,#c2e9fb 100%);
}
a{
  text-decoration: none;
 color: var(--text-gray); 
}
h3,h4,h5,h6{
  font-family: var(--Abel);
  color: var(--text-gray);
}
.app_headerAvatar {
  height: 30px !important;
  width: 30px !important;
}

.app_header {
  position: sticky;
  top: 0;
  display: flex;
  align-items: center !important;
  justify-content: space-between;
  z-index: 100;
  padding: 0px 170px 0px 170px;
  background-color: #ffffff;
  border-bottom: 1px solid lightgray;
  
}
.brand-logo{
  font-size: 40px;
  padding: 0px 0 0 5px;
  font-family: 'Grand Hotel', cursive;
}
.nav_nouser{
  margin-left: auto;
}
.nav_items{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 50px;
}
.nav_items li{
  list-style-type: none;
  padding-bottom:10px ;
}
.nav_items li a{
  text-decoration: none;
  margin: 5px;
}

.user_search {
  display: flex;
  align-items: center;
  height: 39px;
  width: 25%;
  padding: 0 10px;
  margin-top: -10px;
}
.user_searchContainer{
  display: flex;
  align-items: center;
  width: 100%;
  height: 35px;
  border-radius: 20px;
}
.user_searchContainer form {
  display: flex;
  align-items: center;
  background-color:#fafafa;
  width: 100%;
  height: 35px;
  border-radius: 20px;
}
.user_searchContainer .MuiSvgIcon-root{
  color: gray;
  padding: 10px;
}
.user_searchContainer  input {
  border:none;
  outline-width: 0;
  margin-left: 5px;
  background-color:inherit;
}
.app_posts{
  display: flex;
 margin-top: 50px;
}
.app_postsLeft {
 margin-left: 200px;
}
.app_postsRight {
  position:fixed;
  left: 900px;
  width: 300px;
}

.material-icons:hover{
  cursor: pointer;
}
@media only screen and (max-width: 1200px){
  .app_postsLeft {
    margin-left: 80px;
   }
   .app_postsRight {
     position:fixed;
     left: 710px;
     width: 250px;
   }
  }
@media only screen and (max-width: 960px){
  .app_postsLeft {
    margin-left: 30px;
   }
   .app_postsRight {
     position:fixed;
     left: 510px;
     width: 250px;
   }
  .app_header {
   width: 100vw;
   padding: 5px 0px 0px 0px;
  }
  .app_headerImage{
    padding-left:5px ;
  }

.nav_avatar{
  margin-left: auto;
  padding-right: 5px;
}
.user_search {
  display: flex;
  align-items: center;
  height: 39px;
  width: 35%;
  padding: 0 10px;
  margin-top: -10px;
}
.app_posts{
max-width: 100vw;
 margin-top: 30px;
}

}
@media only screen and (max-width: 640px){
  .app_header {
   width: 100vw;
   padding: 0px 0px 0px 0px;
  }
  .app_headerImage{
    padding-left:5px ;
  }

.nav_avatar{
  margin-left: auto;
  padding-right: 5px;
}

.app_posts{
max-width: 100vw;
 margin-top: 0px;
}
.app_postsRight {
display: none;
}
.app_postsLeft {
  margin-left: 0px;
  width: 100vw;
 }
}